body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    height: 100vh;
    font-family: 'roboto', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 230, 234);
}

.sidebar {
    background-color: dodgerblue;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 2;
    min-width: 120px;
}

.sidebar img {
    filter: invert(100%) brightness(100%);
    height: 1em;
    vertical-align: text-bottom;
}

#bicicle-icon {
    height: 2em;
    vertical-align: middle;
}

.sidebar ul {
    padding: 0;
    list-style: none;
    font-size: 0.8em;
}

.header{
    display: grid;
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    grid-template: 1fr 1.5fr / 2fr 1fr;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.icon {
    height: 1.5em;
    vertical-align: bottom;
}

.searchbar {
    display: flex;
    padding: 20px;
}

input {
    height: 1.5em;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    border: none;
    background-color: rgb(216, 230, 234);
}

.user-info {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.user-info span {
    font-weight: bold;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    width: 40px;
    height: 40px;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 3vw;
}

.presentation p {
    font-weight: bold;
    margin: 0;
}

.presentation p:first-child {
    font-size: 0.6rem;
}

.presentation p:last-child {
    font-size: 1.1rem;
}

.big {
    width: 60px;
    height: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

button {
    color: white;
    font-size: 0.8em;
    background-color: dodgerblue;
    border-radius: 20px;
    border: none;
    width: 6rem;
    height: 2rem;
}

.main-content {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 15px;
    padding: 20px;
}

.proyects-container {
    display: grid;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: 1rem 1fr;
}

.proyects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
    background: linear-gradient(to right, orange 7px, white 7px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
}

.card-actions {
    margin-top: auto;
    margin-left: auto;
}

.card-actions .icon {
    margin-right: 15px;
  }

.announcements-container {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-rows: 1rem 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr 1px);
    background-color: white;
    font-size: 0.8rem;
    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.announcements h4 {
    margin-bottom: 0;  
}

.announcements p {
    color: gray;
    margin-top: 0;
}

.line {
    border: none;
    border-top: 1px solid gray;
    margin: 0;
}

.trending-container {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-rows: 1rem 1fr;
}

.trending {
    display: grid;
    background-color: white;
    margin-top: 1rem;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
}

.trend {
    display: flex;
    gap: 15px;
    align-items: center;
}

.username,
.tagline {
    margin: 0;
    font-size: 0.8rem;
}

.username {
    font-weight: bold;
}

.tagline {
    color: gray;
}